/*overwrite bootstrap css*/

html,body{
	background-color:#1dd2af: 
}

a:focus {
	outline: none;
}

/*landing page*/
.landing{background: #282828;min-height: 690px;}

.landing h1{
	text-align: center;
	font-size:5.5em;
	font-family: 'Gentium Book Basic',serif;
	color: #ecf0f1;	
    text-transform: uppercase;
}

.landing h1.amp{
	font-family: 'Playfair Display',serif;
}

.landing p{	
	font-family: 'Lora',serif;
	font-size: 0.8em;
	color: #bdc3c7;	
	padding: 2em;
	margin-top: 1em;
}
.landing span.butterick{
	display:block;
	float:right;
}
/*landing page*/

/*short_pipe*/
.short-pipe{
	background: #bdc3c7 url(../imgs/smoke.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
.short-pipe h2{
	font-family: 'Merriweather',serif;
	font-size: 5em;
    padding-left: 1em;
    padding-top: 1em;
}
.short-pipe p{
	margin: 2em;
	font-family: 'Josefin Sans',sans-serif;
	font-size: 2em;
}
.short-pipe span{
	display: block;
    
}
.short-pipe span.author{
    font-family: 'Oswald', sans-serif;
    font-size: 0.8em;   
    padding-left: 7em;
}
.short-pipe span.fonts{
	font-family: 'Oswald', sans-serif;
    font-size: 0.6em; 
    float: right;  
    padding: 1em;
}
.short-pipe span.fonts a{
	color: #eee;
}
.short-pipe span.fonts a:hover{
	color: #bdc3c7;
}
/*short_pipe*/

/*song forest*/
.song-forest span.fonts{
	font-family: 'Oswald', sans-serif;
    font-size: 0.6em; 
    float: left;      
}
.song-forest span.fonts a{
	color: #eee;
}
.song-forest span.fonts a:hover{
	color: #bdc3c7;
}
/*song forest*/

/*padauk*/
.padauk{
	background: #f1c40f;
	color: #c33a2c;
}
.padauk h2{
	font-family: 'Playfair Display',serif;
	font-size:4em;
	letter-spacing: 10px; 
	color:#c0392b;
	text-align: center;
	padding: 0 0 1em 0;
	font-weight: 200;
}
.padauk h2 span{
	font-family:'Montserrat', serif;
	display: block;
	font-weight:800;
	color: #d35400;
}
.padauk p{
	font-family: 'Great Vibes', cursive;
	font-size: 2em;
	padding-left:10%;
}

.padauk p.alt{
	padding-left: 50%;	
}

.padauk p span{		
	font-size: 2.1em;
	text-transform: capitalize;
	display: block;
}
.padauk span.author{    
    font-size: 0.8em;   
    padding-left: 10em;    
}
.padauk span.fonts{
	font-family: 'Oswald', sans-serif;
    font-size: 0.6em; 
    float: right; 
    padding: 1em;     
}
.padauk span.fonts a{
	color: #2980b9;
}
.padauk span.fonts a:hover{
	color: #3498db;
}

/*layout break*/
@media all and (max-width: 768px){
	.padauk p{
		padding-top: 10%;
		padding-left: 0;
		text-align: center;
	}
	.padauk p.alt{
		padding-left:0;			
	}	
}
/*padauk*/

/** poem 3 **/
.poem__3 {
	padding: 10%;
	font-family: 'Shadows Into Light', cursive;
	font-size: 2em;
	color: #f0f0f0;
	background: #fff url(../imgs/poem_3.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.poem__3 h2 {
	font-size: 3em;
	margin-bottom: 10%;
}
.poem__3 .used__font {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 0.4em;
	-ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    margin: 5% 0 0 -3%
}
.poem__3 .used__font a {
	font-size: 1em;
}
.poem__3 a {
	font-weight: bold;
	font-style: italic;
	color: #fff;
	text-decoration: underline;
}

.poem__3 p:nth-child(2) {
	margin: 7% 0 7% -20%;
}

.poem__3 .popover-content{
	color: #313131;
	font-style: italic;
	opacity: 0.8
}
/** poem 3 **/


/*typesettings*/
@media screen and (min-width: 320px){
  body{
    font-size: 5vw;
  }
}
@media screen and (min-width: 401px){
  body{
    font-size: 4vw;
  }
}
@media screen and (min-width: 481px){
  body{
    font-size: 3vw;
  }
}
@media screen and (min-width: 850px){
  body{
    font-size: 2vw;
  }
}
@media screen and (min-width: 1000px){
  body{
    font-size: 1.5vw;
  }  
}