/*overwrite bootstrap css*/

html,body{
	background-color:#1dd2af: 
}

a:focus {
	outline: none;
}

/*landing page*/

.landing{background: #282828;min-height: 690px;}

.landing h1{
	text-align: center;
	font-size:5.5em;
	font-family: 'Gentium Book Basic',serif;
	color: #ecf0f1;	
    text-transform: uppercase;
}
.landing h1.amp{
	font-family: 'Playfair Display',serif;
}

.landing p{	
	font-family: 'Lora',serif;
	font-size: 0.8em;
	color: #bdc3c7;	
	padding: 2em;
	margin-top: 1em;
}

/*short_pipe*/

.short-pipe{
	background: #bdc3c7 url(../imgs/smoke.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
.short-pipe h2{
	font-family: 'Merriweather',serif;
	font-size: 5em;
    padding-left: 1em;
    padding-top: 1em;
}
.short-pipe p{
	margin: 2em;
	font-family: 'Josefin Sans',sans-serif;
	font-size: 2em;
}
.short-pipe span{
	display: block;
    
}
.short-pipe span.author{
    font-family: 'Oswald', sans-serif;
    font-size: 0.8em;   
    padding-left: 7em;
}

/** poem 3 **/

.poem__3 {
	padding: 10%;
	font-family: 'Shadows Into Light', cursive;
	font-size: 2em;
	color: #f0f0f0;
	background: #fff url(../imgs/poem_3.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.poem__3 h2 {
	font-size: 3em;
	margin-bottom: 10%;
}
.poem__3 .used__font {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 0.4em;
	-ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    margin: 5% 0 0 -3%
}
.poem__3 .used__font a {
	font-size: 1em;
}
.poem__3 a {
	font-weight: bold;
	font-style: italic;
	color: #fff;
	text-decoration: underline;
}

.poem__3 p:nth-child(2) {
	margin: 7% 0 7% -20%;
}

.poem__3 .popover-content{
	color: #313131;
	font-style: italic;
	opacity: 0.8
}

/*typesettings*/
@media screen and (min-width: 320px){
  body{
    font-size: 5vw;
  }
}
@media screen and (min-width: 401px){
  body{
    font-size: 4vw;
  }
}
@media screen and (min-width: 481px){
  body{
    font-size: 3vw;
  }
}
@media screen and (min-width: 850px){
  body{
    font-size: 2vw;
  }
}
@media screen and (min-width: 1000px){
  body{
    font-size: 1.5vw;
  }
}